{% include 'partials/header.html' %}
    <form action="{% url 'add' %}" method="post">
    {% csrf_token %}
        <label for="title">Title</label><br />
        <input type="text" name ="title" id="title">
        <br><br>
        <label for="text">Text</label><br />
        <textarea name="text" id="text"></textarea>
        <br><br>
        <label for="deadlinea">Deadline</label><br />
        <input name="deadlinea" type="date" id="deadlinea">
        <br><br>
        <label>Importance: </label>
        <label class="checkbox-inline">
          <input type="radio" name="priority" value='1' {% if not todo.priority or todo.priority == 1 %} checked {% endif %}><span class="btn btn-danger btn-xs">Urgent</span>
        </label>
        <label class="checkbox-inline">
          <input type="radio" name="priority" value="2" {% if todo.priority == 2 %} checked {% endif %}><span class="btn btn-warning btn-xs">Caution</span>
        </label>
        <label class="checkbox-inline">
          <input type="radio" name="priority" value="3" {% if todo.priority == 3 %} checked {% endif %}><span class="btn btn-success btn-xs">Smooth</span>
        </label>
        <br><br>
        <input type="submit" value="Submit"/>
    </form>
    <br>
    <a href="/todos">Go Back</a>
{% include 'partials/footer.html' %}